<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="1VXdmHchUyxRoaHqb1UrzmfcxswRajRqNtzexBP5fQg" />
    <title>Example App</title>
</head>
<body>
 
    {{{body}}}
 
</body>
</html>